@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 0px;
}
